<p-fileUpload 
  styleClass="my-fileUpload" 
  customUpload="true" 
  (uploadHandler)="onAddRow($event)"
  auto="true"
>
  <ng-template pTemplate="content">
    <p-table #dt
      [value]="table" 
      [columns]="cols"
      selectionMode="single" 
      (onRowSelect)="onRowSelect($event, $index)"
      (onRowUnselect)="onRowUnselect($event)"
      [paginator]="true" 
      [rows]="3" 
      [totalRecords]="table.length"
    > 
      <ng-template pTemplate="caption">
        <div>        
          <i class="fa fa-search"></i>
          <input 
            type="text" 
            pInputText size="50" 
            placeholder="Search by image name or description" 
            (input)="dt.filterGlobal($event.target.value, 'contains')"
          >
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th 
            *ngFor="let col of columns" 
            [pSortableColumn]="col.field"
          >
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template 
        pTemplate="body" 
        let-el
      >
        <tr [pSelectableRow]="el" >
          <td 
            pDraggable="pnl"
            (onDragStart)="onDragStart($event, el.image)"
          >
            <img [src]="el.image">
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input type="text" [(ngModel)]="el.description">
              </ng-template>
              <ng-template pTemplate="output">
                {{el.description}}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align:left">
          <p-fileUpload #addImageForm
            *ngIf="!editMode; else edit"
            mode="basic"
            accept="image/*" 
            maxFileSize="1000000"
            customUpload="true" 
            (uploadHandler)="onAddRow($event, addImageForm)"
            auto="true"
            chooseLabel="Add"
          ></p-fileUpload>
          <ng-template #edit>
            <p-fileUpload #editImageForm
              mode="basic" 
              accept="image/*" 
              maxFileSize="1000000"
              customUpload="true" 
              (uploadHandler)="onEditRow($event, editImageForm)"
              auto="true"
              chooseLabel="Change image"
            ></p-fileUpload>
            <button pButton
              type="button" 
              class="ui-button-danger delete-btn" 
              (click)="onRowDelete()" 
              label="Delete"
            ></button>
            <div style="clear:both"></div>
          </ng-template>
        </div>
      </ng-template>
    </p-table>
  </ng-template>
</p-fileUpload>
