<p-fileUpload 
  styleClass="my-fileUpload" 
  (onUpload)="myUploader($event)"
  auto="true"
>
  <ng-template pTemplate="content">
    <p-table 
      [value]="table" 
      selectionMode="single" (onRowSelect)="onRowSelect($event)"
      [paginator]="true" [rows]="3">
      <ng-template pTemplate="header">
        <tr>
          <th>Image</th>
          <th>Description</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-el>
        <tr [pSelectableRow]="el">
          <td>{{el.image}}</td>
          <td>{{el.description}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div style="text-align:left">
              <button type="button" pButton icon="fa fa-plus" (click)="myAdd()" label="Add"></button>
          </div>
      </ng-template>
    </p-table>
  </ng-template>
</p-fileUpload>
