/* You can add global styles to this file, and also import other style files */
/* .my-fileUpload{
    display: none !important;
} */
.my-fileUpload > .ui-fileupload-buttonbar{
    display: none !important;
}
.my-fileUpload > .ui-fileupload-content{
    padding: 0 !important;
}
.my-fileUpload > .ui-fileupload-content > .ui-fileupload-files{
    display: none !important;
}
.my-imageField{
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.my-imageField > .ui-fileupload-content{
    padding: 1px !important;
    max-height: 200px;
}
.my-imageField > .ui-fileupload-content > .ui-fileupload-files{
    display: none !important;
}

.delete-btn{
    float: right;
    font-weight: 700;
}
.my-dialog{
    top: 10px !important;
    position:absolute;
}